/* _variables.scss */

/* Colors */
$purple: #7F3F98;
$orange: #F26522;
$grey: #F8F8F8;
$black: #3D3D3D;
$white: #FFFFFF;

/* Font sizes */
$sub-text: .85em;
$base-font-size: 1em;
$h3: 1.618em;
$h2: 2.618em;
$h1: 4.236em;

/* Line heights */
$base-line-height: 1.5625em;
$h3: 1.618em;
$h2: 2.618em;
$h1: 4.236em;

/* Box Shadow */
$x: 0;
$y: 2px; 
$blur: 20px; 
$color: rgba(0,0,0,.20);
